body {
    background-color: #A09F57;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h1 {
    background-color: none;
    color: #406343;
    font-family: "Verdana", "Helvetica", sans-serif;
}

h3 {
    background-color: none;
    color: #32502E;
    font-family: "Verdana", "Helvetica", sans-serif;
}

    
