body {
    background-color: #A09F57;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h1 {
    background-color: none;
    color: #406343;
}
    
